<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test UI</title>
    <link rel="stylesheet" href="./css/main.css" />
</head>

<body>
    <main>
        <section>
            <form id="login">
                <label>Login</label>
                <input type="text" name="login" />
                <label>Password</label>
                <input type="password" name="password" />
                <button>Log in</button>
            </form>
        </section>

        <script>
            window.addEventListener("DOMContentLoaded", () => {
                document
                    .getElementById("login")
                    .addEventListener("submit", (event) => {
                        event.preventDefault();
                        debugger;
                        const username = event.target.login.value;
                        const password = event.target.password.value;


                        fetch("/signin", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ username, password }),
                        }).then(response => response.json())
                        .then(data => {
                            if (data.status === 'success')
                            window.location.assign("/map");
                        }).catch(error => {
                            window.location.assign("/");
                        });
                    });

                // window.location.assign("/profile");
                return false;
            });
        </script>
    </main>
</body>

</html>